{% extends 'user_app/base.html' %}

{% block body_block %}
    <div class="jumbotro">
        <h2>Login</h2>

        <form action="{% url 'user_app:user_login' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <div class="row" style="margin-right: auto; margin-left: auto;">
                <label for="username">Username:</label>
                <input type="text" , name="username" , placeholder="Enter your username.">
            </div>
            <div class="row">
                <label for="password">Password:</label>
                <input type="password", name="password">
            </div>
            <div class="row">
                <input type="submit" value="Login" , class="btn, btn-primary">
                <input type="submit" value="Cancel" , class="btn, btn-warning">
            </div>

        </form>
    </div>
{% endblock %}
