{% extends 'user_app/base.html' %}
{% load custom_filers %}

{% block body_block %}
    <div class="jumbotron">
        <h2>Our Users</h2>
        {% if profiles %}
            </div>
            <div class="container">
                <h2>Presnting Our Users</h2>
                <table>
                    <div class="row">
                        <theader>
                            <th class="col-md-2">Row#</th>
                            <th class="col-md-2">Username</th>
                            <th class="col-md-2">First Name</th>
                            <th class="col-md-2">Last Name</th>
                            <th class="col-md-2" >Email</th>
                            <th class="col-md-2" >Portfolio Site</th>
                            <th class="col-md-2" >Profile Picture</th>
                        </theader>
                    </div>

                    {% for profile in profiles %}
                        <div class="row">
                            <tr class="{{ forloop.counter|row_class }}" >
                                <td class="col-md-2">{{ forloop.counter }}</td>
                                <td class="col-md-2" >{{ profile.user.username }}</td>
                                <td class="col-md-2" >{{ profile.user.first_name }}</td>
                                <td class="col-md-2" >{{ profile.user.last_name }}</td>
                                <td class="col-md-2" >{{ profile.user.email }}</td>
                                <td class="col-md-2" >{{ profile.portfolio }}</td>
                                <td class="col-md-2 ">
                                    {% if profile.profile_pic %}
                                        <img src="{{ MEDIA_URL }}{{ profile.profile_pic }}" alt="col-md-2" width="150px"
                                             height="auto">
                                    {% endif %}
                                </td>
                            </tr>
                        </div>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <h2>No User Profiles To Display</h2>
            </div>
        {% endif %}
{% endblock %}
